.wrapper {
  width: 940px;
  margin: 0 auto;
}
* {
  border: 1px solid red;
}

.header {
    color: #2F1059;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.top-menu {
    background: #D49091;
    width: 100%;
    margin-top: 5px;
    height: 50px;   
}
.sideLeft {
    background: #9091D4;
    width: 30%;
    height: 354px;
    margin-top: 5px;
    padding: 1px 0;
    float: left;
    overflow: hidden;
}
.content {
    background: #D4D390;
    width: 69%;
    margin-top: 5px;
    height: 355px;
    float: right;
    overflow: hidden;
}
.clear {
  clear: both;
}
.footer {
    background: #90D4B1;
    width: 100%;
    height: 70px;
    margin-top: 5px;
}
       